<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Modele" connectionString="metadata=res://*/modele.csdl|res://*/modele.ssdl|res://*/modele.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=acer5750\sqlsever2012;Initial Catalog=helloentityfx;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration> 